# Frontend için
frontend/node_modules/
frontend/build/
frontend/dist/




# ML Modeli için (eğer büyük veri dosyaları varsa)
ml_models/model_deid/app/.env
ml_models/model_deid/app/model_downloaded
ml_models/model_deid/app/predict.ipynb
ml_models/model_deid/app/FASTAPI.log

ml_models/model_ner/app/.env
ml_models/model_ner/app/model_downloaded
ml_models/model_ner/app/deneme.ipynb

ml_models/model_cls/app/FASTAPI.log
ml_models/model_cls/app/.env
ml_models/model_cls/app/model_downloaded
ml_models/model_cls/app/deneme.ipynb



ml_models/model_assertion/app/FASTAPI.log
ml_models/model_assertion/app/.env
ml_models/model_assertion/app/model_downloaded
ml_models/model_assertion/app/deneme.ipynb

########################Later it will be organized#################################



# Backend için (Python örneği)
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/*.log




# IDE'ye özel dosyalar
.idea/
.vscode/
*.iml
*.swp
*.swo

# İşletim sistemine özel dosyalar
.DS_Store
Thumbs.db

# Diğer geçici dosyalar veya loglar
*.log
temp/
tmp/