# Frontend için
frontend/node_modules/
frontend/build/
frontend/dist/









########################Later it will be organized#################################



# ML Modeli için (eğer büyük veri dosyaları varsa)
ml_models/model_deid/app/.env
ml_models/model_deid/app/model_downloaded
ml_models/model_deid/app/predict.ipynb
ml_models/model_deid/app/FASTAPI.log







# Backend için (Python örneği)
backend/__pycache__/
backend/*.pyc
backend/.env
backend/venv/
backend/*.log




# IDE'ye özel dosyalar
.idea/
.vscode/
*.iml
*.swp
*.swo

# İşletim sistemine özel dosyalar
.DS_Store
Thumbs.db

# Diğer geçici dosyalar veya loglar
*.log
temp/
tmp/