.about {
    padding: 5% 10%;
    text-align: center;
    scroll-margin-top: 80px
  }
  
  .about h1 {
    font-size: 2rem;
    color: #222;
    margin-bottom: 1.5rem;
  }
  
  .about p {
    color: #777;
    padding: 2rem 5%;
    text-align: justify;
    line-height: 1.6;
  }
  
  .aboutExp {
    display: flex;
    gap: 5%;
    justify-content: center;
    margin-top: 2rem;
  }
  
  .aboutExp > div {
    text-align: center;
    padding: 1.5rem;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  
  .aboutExp h1 {
    font-size: 2rem;
    color: #007bff;
    margin-bottom: 0.5rem;
    text-align: center;
  }
  
  .aboutExp p {
    text-align: center;
    color: #555;
    font-size: 1rem;
    padding: 0;
  }
  
  .aboutMessage {
    width: 250px;
    height: 40px;
    margin: 2rem auto;
    background-color: #6d57e0;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s ease-in-out;
  }
  
  .aboutMessage:hover {
    background-color: #5a45c7;
  }
  
  .aboutMessage a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
  }
  
  .aboutMessage a svg {
    margin-left: 0.5rem;
  }