.examples{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.examplesDemo{
    display: flex;
    flex-direction: column;
    
  }
/* Deid2.css */
.examplesDemoButton{
  
  background-color:#707680;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 30%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.active {
  background-color: var(--color-primary);
}
.demoTitle{
  padding-top: 50px;
  text-align: center;
}
.example-input{
  flex: 1;
  height: 500px;
  width:100%;
  padding: 1rem;
  background-color: #f5f7fa;
  border-radius: 8px;
  border: 1px solid #d6d9dc;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 1.6;
}
/* Live Demo Bölümü Düzenleme */
.demo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  align-items: center; /* Küçük ekranlar için tüm öğeleri ortalar */
  justify-content: center; /* İçeriği dikeyde ortalar */
}

@media (min-width: 768px) {
  .demo {
    flex-direction: row;
    align-items: stretch;
  }

  .demo .input-container,
  .demo .result-container {
    flex: 1;
    margin: 0;
    width: 100%;
  }
}

/* Ortak panel stilleri */
.demo .input-container,
.demo .result-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  min-height: 500px;
  max-height: 500px;
  width: 500%;
}

/* Etiketler */
.input-label,
.result-label {
  font-weight: bold;
}



.copy-icon {
  all: unset; /* Bu, tüm varsayılan stilleri sıfırlar */
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 1rem;
  cursor: pointer;
  z-index: 10;
  background: none;
}


