@import "./variables.css";

.liveDemoSection{
  width: 100%;
  margin-top: 150px;
  z-index: 2;
}

.liveDemoSection h2{
  text-align: center;
}
.examplesDemoButton{
    display: flex;
    flex-direction: column;
    
  }
/* Deid2.css */
.examplesDemoButton button{
  
  background-color:var(--primary-color);
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.25rem 0.6rem;
  font-size: 0.75rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
  width: 150px;
}

.predictBtn{
  width: 150px;
  margin-top: 0px;
}
/* Live Demo Bölümü Düzenleme */
.demo {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 1rem 0;
  align-items: center; /* Küçük ekranlar için tüm öğeleri ortalar */
  justify-content: center; /* İçeriği dikeyde ortalar */
}

@media (min-width: 768px) {
  .demo {
    flex-direction: row;
    align-items: stretch;
  }

  .demo .input-container,
  .demo .result-container {
    flex: 1;
    margin: 0;
    width: 100%;
  }
}

/* Ortak panel stilleri */
.demo .input-container,
.demo .result-container {
  min-height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.05);
  padding: 2rem;
  width: 40%;

}

/* Etiketler */
.input-label,
.result-label {
  font-weight: bold;
  margin-bottom: 10px;
}

/* Textarea dış sarıcı */
.inputarea{
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  height: 500px;
  width: 100%;

  

}

/* Textarea alanı */
.demo textarea {
  outline : var(--primary-color);
  outline: none;
  flex: 1;
  resize: vertical;
  min-height: 500px;
  max-height: 500px;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #d6d9dc;
  border-radius: 8px;
  background-color: #fafbfd;
  color: #333;
  line-height: 1.6;
  box-sizing: border-box;
  overflow-y: auto;
  width: 100%;
}



/* Masked output div */
.demo .masked-output {
  flex: 1;
  height: 500px;
  padding: 1rem;
  background-color: #f5f7fa;
  border-radius: 8px;
  border: 1px solid #d6d9dc;
  overflow-y: auto;
  white-space: pre-wrap;
  word-wrap: break-word;
  font-size: 1rem;
  line-height: 1.6;
  width: 100%;

}

/* Predict ve toggle butonları */
.demo button {
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 8px;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  transition: background-color 0.3s;
}

.demo button:hover {
  background-color: var(--color-accent);
}