
  
  section {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  }
  
  .intro p{
    text-align: justify;
  }

  .introh1 {
    font-size: 1.4rem;
    color: var(--primary-color);
    text-align: center;
    padding-top: 0rem;
    margin-top:0rem !important;
    margin-bottom:30px;

  }