section {
    background-color: white;
    border-radius: 12px;
    padding: 2rem;
    margin-bottom: 2rem;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  }
  
  .modelDetails p{
    text-align: justify;
  }

  .modelDetails .modeldetailsh1 {

    text-align: center !important; 
  }
