:root {
    --primary-color:#6D5BD8;
    --background-color: #f9fbfd;
    --border-color: #e0e0e0;
    --text-color: #333;
    --light-text: #777;
    --entity-bg: #e3f2fd;
    --entity-color: #0d47a1;
    --font: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  body {
    background-color: var(--background-color);
    font-family: var(--font);
    color: var(--text-color);
    margin: 0;
    padding: 0;
  }
  
  .deid-container {
    max-width: 90%;
    margin: auto;
    margin-top: 40px;
    padding: 3rem 1.5rem;
  }

h1{
  text-align: center;
  margin-top: 70px;
  margin-bottom: 30px;
}