/* Genel stiller */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .container {
    background-color: white; /* HTML'deki gibi */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Scroll davranışını yumuşatma (isteğe bağlı) */
  html {
    scroll-behavior: smooth;
  }
  footer {
    margin-top: auto;
  }
  .proje-bulunamadi{
    text-align: center;
    padding-top: 250px;
    font-size: 40px;
    font-weight: 500;
  }