/* Genel stiller */
body {
    margin: 0;
    font-family: 'Poppins', sans-serif; /* HTML'deki gibi */
    background-color: #fbfbfe; /* HTML'deki gibi */
    color: #222; /* Genel metin rengi */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .container {
    background-color: #fbfbfe; /* HTML'deki gibi */
  }
  
  /* Scroll davranışını yumuşatma (isteğe bağlı) */
  html {
    scroll-behavior: smooth;
  }