/* Genel stiller */
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
  }
  
  .container {
    background-color: #fbfbfe; /* HTML'deki gibi */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  /* Scroll davranışını yumuşatma (isteğe bağlı) */
  html {
    scroll-behavior: smooth;
  }
  footer {
    margin-top: auto;
  }