fastapi==0.95.0
uvicorn==0.23.0
torch==2.0.0  
transformers==4.26.1
sentencepiece==0.1.96
azure-storage-blob
requests==2.28.1
pydantic==1.10.5
python-decouple
numpy==1.21.5
nltk==3.7
ipython
seqeval
xformers
aimped

